@import "../../scss/variables";
@import "../../scss/mediaQueries";

.home-button {
  position: absolute;
  bottom: 20px;
  left: 75px;
  cursor: pointer;
  @include medium {
    left: 45px;
  }
  @include mobile {
    left: 20px;
  }
  &:focus {
    svg {
      fill: $blue;
    }
  }
}
