@import "normalize";
@import "variables";
@import "mediaQueries";

* {
  box-sizing: border-box;
  font-family: $gs;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: none;
}

::-moz-selection {
  background: transparent;
  color: $pink;
}
::selection {
  background: transparent;
  color: $pink;
}
body {
  transition: background-color 100ms ease-in-out;
}
.App {
  transition: color 100ms ease-in-out;
  padding-top: 40px;
  @include mobile {
    padding-top: 0;
  }
}
a {
  text-decoration: none;
  color: inherit;
  &:hover,
  :visited,
  :active {
    text-decoration: none;
    color: inherit;
  }
}

.wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 20px;
  position: relative;
  overflow-x: hidden;
  padding-left: 2px;
  padding-right: 2px;
  @include medium {
    padding: 20px;
    padding-top: 0px;
  }
  @include mobile {
    padding: 20px;
  }
}

h1 {
  font-family: $gsb;
  font-size: 1.37em;
  letter-spacing: 0.05em;
}

div:focus {
  .icon-light {
    fill: $blue;
  }
  .icon-dark {
    fill: $pink;
  }
}
