@import "fonts";

$gs: "Google Sans";
$gsm: "Google Sans Medium";
$gsb: "Google Sans Bold";

$blue: #8ed6ff;
// $pink: #ff9bc6;
// $pink: #ff8f40;
// $pink: #ff4640;
$pink: #1c6fff;
$yellow: #fcf3c9;
$grey: #cdcdcd;
$light: #eff9ff;
$dark: #2b3240;
